<!DOCTYPE html>
<html>
<head>
  <title>Photoart</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>

 <div class="navbar navbar-fixed-top">
        	<div class="navbar-inner">
            	<div class="logo pull-left">LOGO</div>
                <div class="row-fluid inline">
                <div class="span4 pull-right">
                    	<div class="navbar-itens pull-right">
                			<div class="sign-up">
                                 <div id="nav">
                                    <% if current_user %>
                                        <%= link_to "Edit Profile", edit_user_path(current_user.id)%>
                                        <%= link_to "Logout", :logout%>
                                    <% else %>
                                        <%= link_to "Register", new_user_path%> |
                                        <%= link_to "Login", :login %>
                                    <% end %>
                                </div>
                                </div>
                    		</div>
                		</div>
                    </div>
                	<div class="span8 offset8">
                    	<div class="menu-top">
                                <li class="btn"><%= link_to "Home", users_url %></li>
                                <li class="btn"><%= link_to "Public", users_url %></li>
                                <% if current_user %>
                                    <li class="btn"><%= link_to "Upload", user_url(current_user.id)%></li>
                                <% end %>
                                <li class="btn"><%= link_to "About", users_url %></li>
                                <li class="btn"><%= link_to "Contact", users_url %></li>
                		</div>
                    </div>
                </div>
            </div>
        </div>

	<div class="container">

		<%= yield %>

	</div>
	<br><br>
	<div class="footer">
        	<div class="span12 offset4">
            <p>&#169; Company 2013</p>
        </div>
    </div>


</body>
</html>
