<h2><%= @user.name %></h2>
<p><%= @user.about %></p>

<ul>
	<% @user.imgs.each do |img| %>
	<li><%= img.description %><br><%= image_tag @img.pic.url %></li>
	<% end %>
</ul>

<%= form_for [@user, @img], :html =>{ :multipart => true} do |form| %>
<p><%= form.text_field :description %>
	<%= form.file_field :pic %>
 <%= form.submit %></p>
<% end %>
<hr />

<%= link_to "Back to all users", users_url %>